<%- include('../cabecalho.ejs') %>

<h1>Adicionar Fornecedor</h1>
<a href="/fornecedor/lst">Listar Fornecedores</a>

<form method="post">
    <label>ID do Fornecedor:</label>
    <input type="text" name="id_fornecedor" required><br>

    <label>Nome:</label>
    <input type="text" name="nome" required><br>

    <label>Telefone:</label>
    <input type="text" name="telefone" required><br>

    <label>Endereço:</label>
    <input type="text" name="endereco" required><br>

    <label>CNPJ:</label>
    <input type="text" name="cnpj" required><br>

    <label>Email:</label>
    <input type="email" name="email" required><br>

    <label>Tipo de Produto:</label>
    <input type="text" name="tipo_produto" required><br>

    <button type="submit">Cadastrar</button>
</form>

<%- include('../rodape.ejs') %>