<!--Cabeçalho-->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Gestão - Café Belle Vie</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
  <div class="container">
    <nav class="menu">
      <ul>
        <li><a href="/" class="btn"><i class="fa fa-home"></i>&nbsp;Café Belle Vie</a></li>

        <li><a href="/admin/cafeteria/lst" class="btn"><i class="fa fa-store"></i>&nbsp;Cafeteria</a></li>

        <li><a href="/admin/funcionario/lst" class="btn"><i class="fa fa-user"></i>&nbsp;Funcionários</a></li>

        <li><a href="/admin/fornecedor/lst" class="btn"><i class="fa fa-truck"></i>&nbsp;Fornecedores</a></li>

        <li><a href="/admin/mantimento/lst" class="btn"><i class="fa fa-boxes"></i>&nbsp;Mantimentos</a></li>

        <li><a href="/admin/produto/lst" class="btn"><i class="fa fa-mug-hot"></i>&nbsp;Produtos</a></li>

      </ul>
    </nav>
  <!--Cabeçalho - Fim-->